body, html
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #030303;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: white;
}

.typewriter h1 {
    color: #fff;
    font-family: sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2.5s steps(3000, end) infinite,
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to  { border-color: transparent }
    50% { border-color: #0480ec }
  }
 
nav {
    width: 97%;
    margin: 0 auto 30px; 
    background: #8a8989;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 10px;
}
main {
    background: white;
    padding: 20px;
    border-radius: 15px;
}
.tabcontent h2{
    color:#0480ec;
}