body,html
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #030303;
    height: 100%;
}
.container
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header h1 {
    font-size: 2.5em;
    color: white;
}
.typewriter h1 {
    color: #fff;
    font-family: sans-serif;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 2.5s steps(3000, end) infinite,
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0480ec }
  }
 
nav {
    width: 97%;
    margin: 0 auto 30px; 
    background: #8a8989;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 10px;
}

main {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.tabcontent {
    display: none;
}

.tabcontent h2 {
    color: #4facfe;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
}

.form-buttons button:hover {
    background: #00f2fe;
}

#entriesTable {
    margin-top: 40px;
}

#entriesTable table {
    width: 100%;
    border-collapse: collapse;
}

#entriesTable table th, #entriesTable table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#entriesTable table th {
    background: #4facfe;
    color: white;
}